<div class="recover-form">
    <mat-card>
        <mat-card-content>
            <h1>Recuperar contraseña</h1>
            <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="codigo"
                    type="number" 
                    placeholder="Codigo">
                    <mat-error *ngIf="isValidField('codigo')">
                        {{ getErrorMessage("codigo") }}
                    </mat-error>
                    <button mat-icon-button matPrefix>
                        <mat-icon> numbers </mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="contrasena"
                    type="password" 
                    placeholder="Nueva contraseña">
                    <mat-error *ngIf="isValidField('contrasena')">
                        {{ getErrorMessage("contrasena") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="confirmarContrasena"
                    type="password" 
                    placeholder="Confirmar contraseña">
                    <mat-error *ngIf="isValidField('confirmarContrasena')">
                        {{ getErrorMessage("confirmarContrasena") }}
                    </mat-error>
                </mat-form-field>
                <button 
                mat-raised-button 
                type="submit" 
                color="primary" class="mt-4">Recuperar contraseña</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>