<mat-toolbar color="primary">
  <ng-container *ngIf="isLogged; else viewNoLogged">
    <div>
      <ng-container *ngIf="user.rol_id == 1;">
        <a mat-button routerLink="/paquetes">Paquetes</a>
        <a mat-button routerLink="/empleados">Empleados</a>
        <a mat-button routerLink="/marcos">Marcos</a>
      </ng-container>
      <ng-container *ngIf="user.rol_id == 3;">
        <a mat-button routerLink="/serviciosfotografo/{{user.id}}">Mis servicios</a>
      </ng-container>
      <ng-container *ngIf="user.rol_id == 4;">
        <a mat-button routerLink="/servicios">Servicios</a>
      </ng-container>
    </div>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <img class="auth-img" [src]="urlPreffix + user.url_imagen">

      <ng-container *ngIf="user.rol_id == 1;">
        <strong>ADMINISTRADOR</strong>
      </ng-container>
      <ng-container *ngIf="user.rol_id == 3;">
        <strong>FOTOGRAFO</strong>
      </ng-container>
      <ng-container *ngIf="user.rol_id == 4;">
        <strong>RECEPCIONISTA</strong>
      </ng-container>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/miPerfil">Mi perfil</button>
      <button mat-menu-item routerLink="/changepassword">Cambiar contraseña</button>
      <button mat-menu-item (click)="onLogout()">Cerrar sesión</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<ng-template #viewNoLogged>
  <div>
    <a mat-button routerLink="/login">Iniciar sesión</a>
    <a mat-button routerLink="/forgotpassword">Olvide mi contraseña</a>
  </div>
</ng-template>


