<mat-toolbar color="primary">
  <ng-container *ngIf="isLogged; else viewNoLogged">
    <div>
      <a mat-button routerLink="/paquetes">Paquetes</a>
      <a mat-button routerLink="/empleados">Empleados</a>
      <a mat-button routerLink="/marcos">Marcos</a>
    </div>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="logo-personal">tag_faces</mat-icon>

      <strong>ADMINISTRADOR</strong>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/miPerfil">Mi perfil</button>
      <button mat-menu-item routerLink="/changepassword">Cambiar conraseña</button>
      <button mat-menu-item (click)="onLogout()">Cerrar sesión</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<ng-template #viewNoLogged>
  <div>
    <a mat-button routerLink="/login">Iniciar sesión</a>
    <a mat-button routerLink="/forgotpassword">Olvide mi contraseña</a>
  </div>
</ng-template>


<!--<mat-toolbar color="primary">
  <ng-container>
    <div>
      <ng-container *ngIf="isLoggedBoo; else viewNoLogged">
        <a mat-button routerLink="/paquetes">Paquetes</a>
        <a mat-button routerLink="/empleados">Empleados</a>
      </ng-container>
    </div>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="logo-personal">tag_faces</mat-icon>

      <strong>ADMINISTRADOR</strong>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Mi perfil</button>
      <button mat-menu-item>Cambiar conraseña</button>
      <button mat-menu-item (click)="onLogout()">Cerrar sesión</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<ng-template #viewNoLogged>
  <div>
    <a mat-button routerLink="/login">Iniciar sesión</a>
    <a mat-button routerLink="/forgivenPassword">Olvide mi contraseña</a>
  </div>
</ng-template>-->

<!--<ng-template #viewAdmin>
  <button mat-icon-button (click)="onToggleSidenav()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
</ng-template>-->

