<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de servicios</span>
      <a class="btn btn-primary" class="btn btn-dark btn-lg float-right" routerLink="agregar">Agregar</a>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Nombre del paquete</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Nombre del cliente</th>
            <th scope="col">Estado</th>
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios">
            <td> {{ servicio.Nombre_Paquete }}</td>
            <td> {{ servicio.Nombre_Servicio }}</td>
            <td> {{ servicio.cliente_id }}</td>
            <td> {{ servicio.Nombre_Estatus }}</td>
            <td> {{ servicio.total }}</td>


            <td style="display: flex; flex-direction: row;">
              <a *ngIf="servicio.id_Tipo_Paquete == 1" class="nav-link" routerLink="/servicioevento/{{servicio.id}}">
                <mat-icon>edit</mat-icon>
              </a>
              <a *ngIf="servicio.id_Tipo_Paquete == 2" class="nav-link" routerLink="/serviciosesion/{{servicio.id}}">
                <mat-icon>edit</mat-icon>
              </a>
              <a *ngIf="servicio.id_Tipo_Paquete == 3" class="nav-link" routerLink="/servicioimpresion/{{servicio.id}}">
                <mat-icon>edit</mat-icon>
              </a>
            </td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>