<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre" class="form-control" ([ngModel]) = "empleado.nombre" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="ApellidoPaterno" placeholder="Apellido Paterno" class="form-control" ([ngModel]) = "empleado.ape_pat" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="ApellidoMaterno" placeholder="Apellido Materno" class="form-control" ([ngModel]) = "empleado.ape_mat" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="Email" placeholder="Email" class="form-control" ([ngModel]) = "empleado.email" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="Password" placeholder="Password" class="form-control" ([ngModel]) = "empleado.password" autofocus>
                </div>
                <div>
                    <!--<select name="miselect">
                        <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                    </select> -->

                    <mat-form-field appearance="fill">
                        <mat-label>Rol del empleado</mat-label>
                        <mat-select>
                          <mat-option [value]="rol.nombre" *ngFor="let rol of roles" >
                            {{rol.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    
                </div>

                <button class="btn btn-success btn-block" (click) = "saveEmpleado()">
                    Agregar Empleado
                </button>
            </form>
        </div>
    </div>
</div>

