<div class="col-md-4 offset-md-4">
    <div class="card mt-4">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre" class="form-control" ([ngModel]) = "marco.nombre" autofocus>
                </div>

                <button class="btn btn-success btn-block" (click) = "saveMarco()">
                    Agregar Marco
                </button>
            </form>
        </div>
    </div>
</div>

