<div class="col-md-4 offset-md-4">
    <div class="card mt-4">
        <div class="card-body">

            <form [formGroup]="editarEmpleadoForm" (ngSubmit)="editarEmpleado()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="id"
                    type="number">
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="nombre"
                    type="text" 
                    placeholder="Nombre del empleado">
                    <mat-error *ngIf="isValidField('nombre')">
                        {{ getErrorMessage("nombre") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="ape_pat"
                    type="text" 
                    placeholder="Apellido Paterno">
                    <mat-error *ngIf="isValidField('ape_pat')">
                        {{ getErrorMessage("ape_pat") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="ape_mat"
                    type="text" 
                    placeholder="Apellido Materno">
                    <mat-error *ngIf="isValidField('ape_mat')">
                        {{ getErrorMessage("ape_mat") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="celular"
                    type="number" 
                    placeholder="celular">
                    <mat-error *ngIf="isValidField('celular')">
                        {{ getErrorMessage("celular") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <textarea 
                    matInput 
                    class="form-control"
                    formControlName="direccion"
                    placeholder="direccion"></textarea>
                    <mat-error *ngIf="isValidField('direccion')">
                        {{ getErrorMessage("direccion") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="correo"
                    type="text" 
                    placeholder="correo">
                    <mat-error *ngIf="isValidField('correo')">
                        {{ getErrorMessage("correo") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="fech_nac"
                    type="text" 
                    placeholder="Fecha de nacimiento">
                    <mat-error *ngIf="isValidField('fech_nac')">
                        {{ getErrorMessage("fech_nac") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="rol_id"
                    type="number" 
                    placeholder="Rol del empleado">
                    <mat-error *ngIf="isValidField('rol_id')">
                        {{ getErrorMessage("rol_id") }}
                    </mat-error>
                </mat-form-field>

                <button 
                [disabled] ="editarEmpleadoForm.invalid"
                mat-raised-button 
                type="submit" 
                color="primary">Editar Empleado</button>

            </form>

        </div>
    </div>
</div>
