<!--<div class="col-md-4 offset-md-4">
    <div class="card mt-4">
        <div class="card-body">
            <form [formGroup]="editarEmpleadoForm" (ngSubmit)="editarEmpleado()">
                <mat-form-field class="width-input-30">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="nombre"
                    type="text" 
                    placeholder="Nombre del empleado">
                    <mat-error *ngIf="isValidField('nombre')">
                        {{ getErrorMessage("nombre") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-4 width-input-30">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="ape_pat"
                    type="text" 
                    placeholder="Apellido Paterno">
                    <mat-error *ngIf="isValidField('ape_pat')">
                        {{ getErrorMessage("ape_pat") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-4 width-input-30">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="ape_mat"
                    type="text" 
                    placeholder="Apellido Materno">
                    <mat-error *ngIf="isValidField('ape_mat')">
                        {{ getErrorMessage("ape_mat") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-input-60">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="correo"
                    type="email" 
                    placeholder="correo">
                    <mat-error *ngIf="isValidField('correo')">
                        {{ getErrorMessage("correo") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-5 width-input-30">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="celular"
                    type="tel" 
                    placeholder="celular">
                    <mat-error *ngIf="isValidField('celular')">
                        {{ getErrorMessage("celular") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <textarea 
                    matInput 
                    class="form-control"
                    formControlName="direccion"
                    placeholder="direccion"
                    rows="5"></textarea>
                    <mat-error *ngIf="isValidField('direccion')">
                        {{ getErrorMessage("direccion") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-input-75">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="fech_nac"
                    type="text" 
                    placeholder="Fecha de nacimiento">
                    <mat-error *ngIf="isValidField('fech_nac')">
                        {{ getErrorMessage("fech_nac") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class=" ml-4 width-input-20">
                    <mat-label>Rol</mat-label>
                    <mat-select [(value)]="selectedRol" required>
                        <mat-option [value]="rol.nombre" *ngFor="let rol of roles" >
                            {{rol.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button 
                [disabled] ="editarEmpleadoForm.invalid"
                mat-raised-button 
                type="submit" 
                color="primary">Editar empleado</button>

            </form>

        </div>
    </div>
</div>
-->
<div class="main-content">
    <div class="container mt-7">
        <!-- Table -->
        <div class="row">
            <div class="col-xl-8 m-auto order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Editar empleado</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="editarEmpleadoForm" (ngSubmit)="editarEmpleado()">
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <mat-form-field class="full-width-input">
                                                <input matInput class="form-control" formControlName="nombre"
                                                    type="text" placeholder="Nombre del empleado">
                                                <mat-error *ngIf="isValidField('nombre')">
                                                    {{ getErrorMessage("nombre") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <mat-form-field class="full-width-input">
                                                <input matInput class="form-control" formControlName="ape_pat"
                                                    type="text" placeholder="Apellido Paterno">
                                                <mat-error *ngIf="isValidField('ape_pat')">
                                                    {{ getErrorMessage("ape_pat") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <mat-form-field class="full-width-input">
                                                <input matInput class="form-control" formControlName="ape_mat"
                                                    type="text" placeholder="Apellido Materno">
                                                <mat-error *ngIf="isValidField('ape_mat')">
                                                    {{ getErrorMessage("ape_mat") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <mat-form-field class="full-width-input">
                                                <input matInput class="form-control" formControlName="correo"
                                                    type="email" placeholder="correo">
                                                <mat-error *ngIf="isValidField('correo')">
                                                    {{ getErrorMessage("correo") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <mat-form-field class="full-width-input">
                                                <input matInput class="form-control" formControlName="celular"
                                                    type="tel" placeholder="celular">
                                                <mat-error *ngIf="isValidField('celular')">
                                                    {{ getErrorMessage("celular") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group focused">
                                            <mat-form-field class="full-width-input">
                                                <textarea matInput class="form-control" formControlName="direccion"
                                                    placeholder="direccion" rows="5"></textarea>
                                                <mat-error *ngIf="isValidField('direccion')">
                                                    {{ getErrorMessage("direccion") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <mat-form-field class="full-width-input">
                                                <input matInput class="form-control" formControlName="fech_nac"
                                                    type="text" placeholder="Fecha de nacimiento">
                                                <mat-error *ngIf="isValidField('fech_nac')">
                                                    {{ getErrorMessage("fech_nac") }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <mat-form-field class="full-width-input">
                                                <mat-label>Rol</mat-label>
                                                <mat-select [(value)]="selectedRol"  (selectionChange)="changeRol($event.value)" required>
                                                    <mat-option [value]="rol.nombre" *ngFor="let rol of roles">
                                                        {{rol.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button [disabled]="editarEmpleadoForm.invalid" mat-raised-button type="submit"
                                        color="primary">Editar empleado
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>