<div class="col-md-4 offset-md-4">
    <div class="card mt-4">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" ([ngModel]) = "paquete.nombre" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" placeholder="Descripcion" class="form-control" rows="2" ([ngModel]) = "paquete.descripcion" ></textarea>
                </div>
                <div class="form-group">
                    <input type="number" name="hrs_video" placeholder="Horas de video" class="form-control" ([ngModel]) = "paquete.hrs_video">
                </div>
                <div class="form-group">
                    <input type="number" name="no_fotos_dig" placeholder="Numero de fotos digitales" class="form-control" ([ngModel]) = "paquete.no_fotos_dig">
                </div>
                <div class="form-group">
                    <input type="number" name="no_fotos_fis" placeholder="Numero de fotos fisicas" class="form-control" ([ngModel]) = "paquete.no_fotos_fis">
                </div>
                <div class="form-group">
                    <input type="number" name="marco_id" placeholder="Id del marco" class="form-control" ([ngModel]) = "paquete.marco_id">
                </div>
                <div class="form-group">
                    <input type="number" name="tamano_id" placeholder="Tamano Id" class="form-control" ([ngModel]) = "paquete.tamano_id">
                </div>
                <div class="form-group">
                    <input type="number" name="precio" placeholder="Precio" class="form-control" ([ngModel]) = "paquete.precio" >
                </div>
                <div class="form-group">
                    <input type="number" name="tipo_paquete_id" placeholder="Tipo de paquete" class="form-control" ([ngModel]) = "paquete.tipo_paquete_id">
                </div>



                <div class="form-group">
                    <input type="url" name="image" placeholder="Image" class="form-control"  ([ngModel]) = "paquete.url_imagen" >
                </div>
                <button class="btn btn-success btn-block" (click) = "savePaquete()">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
