.edit-form {
  padding: 4rem 1rem;
}

mat-card {
  max-width: 300px;
  margin: 2rem auto;
  text-align: center;
  height: 200px;
}

.full-width-input,
button {
  width: 100%;
}

.separator {
  margin-bottom: 2rem;
}


.card {
  text-align: center;
  width: 40% !important;
}

.ventana {
  width: 70%;
}


/** Desde aqui **/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .375rem;
  background-color: #fff;
  background-clip: border-box;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.bg-secondary {
  background-color: #f7fafc !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #d2e3ee !important;
}

.mt-7 {
  margin-top: 6rem !important;
}

h2,
h3,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h2,
h3,
h6,
.h2,
.h3,
.h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: #32325d;
}


h2,
.h2 {
  font-size: 1.25rem;
}

h3,
.h3 {
  font-size: 1.0625rem;
}
