<!--<div class="col-md-4 offset-md-4">
    <div class="card mt-4">
        <div class="card-body">
            <form [formGroup]="editarPaqueteForm" (ngSubmit)="editarPaquetes()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="nombre"
                    type="text" 
                    placeholder="Nombre del paquete">
                    <mat-error *ngIf="isValidField('nombre')">
                        {{ getErrorMessage("nombre") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <textarea  
                    matInput 
                    class="form-control"
                    formControlName="descripcion"
                    placeholder="Descripcion del paquete"
                    rows="5"></textarea>
                    <mat-error *ngIf="isValidField('descripcion')">
                        {{ getErrorMessage("descripcion") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-input-20">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="hrs_Video"
                    type="text" 
                    placeholder="Horas de video">
                    <mat-error *ngIf="isValidField('hrs_Video')">
                        {{ getErrorMessage("hrs_Video") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-4 width-input-20">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="no_Fotos_Dig"
                    type="number" 
                    placeholder="Numero de fotos digitales">
                    <mat-error *ngIf="isValidField('no_Fotos_Dig')">
                        {{ getErrorMessage("no_Fotos_Dig") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-4 width-input-20">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="no_Fotos_Fis"
                    type="number" 
                    placeholder="Numero de fotos fisicas">
                    <mat-error *ngIf="isValidField('no_Fotos_Fis')">
                        {{ getErrorMessage("no_Fotos_Fis") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-4 width-input-20">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="no_Fotos_Enm"
                    type="number" 
                    placeholder="Numero de fotos enmarcadas">
                    <mat-error *ngIf="isValidField('no_Fotos_Enm')">
                        {{ getErrorMessage("no_Fotos_Enm") }}
                    </mat-error> 
                </mat-form-field>
                <mat-form-field class="width-input-20">
                    <mat-label>Marco</mat-label>
                    <mat-select [(value)]="selectedMarco" required>
                        <mat-option [value]="marco.nombre" *ngFor="let marco of marcos" >
                            {{marco.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-5 width-input-20">
                    <mat-label>Tamaño</mat-label>
                    <mat-select [(value)]="selectedTamano" required>
                        <mat-option [value]="tamano.nombre" *ngFor="let tamano of tamanos" >
                            {{tamano.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-5 width-input-20">
                    <mat-label>Tipo paquete</mat-label>
                    <mat-select [(value)]="selectedTipoPaquete" required>
                        <mat-option [value]="tipo_paqute.nombre" *ngFor="let tipo_paqute of tipo_paqutes" >
                            {{tipo_paqute.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="precio"
                    type="number" 
                    placeholder="Precio">
                    <mat-error *ngIf="isValidField('precio')">
                        {{ getErrorMessage("precio") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="url_imagen"
                    type="text" 
                    placeholder="URL de la imagen">
                    <mat-error *ngIf="isValidField('url_imagen')">
                        {{ getErrorMessage("url_imagen") }}
                    </mat-error>
                </mat-form-field>

                <button 
                [disabled] ="editarPaqueteForm.invalid"
                mat-raised-button 
                type="submit" 
                color="primary">Editar Paquete</button>

            </form>
        </div>
    </div>
</div>-->


<div class="main-content">
  <div class="container mt-7">
    <!-- Table -->
    <div class="row">
      <div class="col-md-8 m-auto order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Editar paquete</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="editarPaqueteForm" (ngSubmit)="editarPaquetes()">
              <!--<h6 class="heading-small text-muted mb-4">Informacion del usuario</h6>-->
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="nombre" type="text"
                          placeholder="Nombre del paquete">
                        <mat-error *ngIf="isValidField('nombre')">
                          {{ getErrorMessage("nombre") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="precio" type="number"
                          placeholder="Precio">
                        <mat-error *ngIf="isValidField('precio')">
                          {{ getErrorMessage("precio") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <textarea matInput class="form-control" formControlName="descripcion"
                          placeholder="Descripcion del paquete" rows="5"></textarea>
                        <mat-error *ngIf="isValidField('descripcion')">
                          {{ getErrorMessage("descripcion") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="hrs_Video" type="text"
                          placeholder="Horas de video">
                        <mat-error *ngIf="isValidField('hrs_Video')">
                          {{ getErrorMessage("hrs_Video") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="no_Fotos_Dig" type="number"
                          placeholder="Numero de fotos digitales">
                        <mat-error *ngIf="isValidField('no_Fotos_Dig')">
                          {{ getErrorMessage("no_Fotos_Dig") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="no_Fotos_Fis" type="number"
                          placeholder="Numero de fotos fisicas">
                        <mat-error *ngIf="isValidField('no_Fotos_Fis')">
                          {{ getErrorMessage("no_Fotos_Fis") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="no_Fotos_Enm" type="number"
                          placeholder="Numero de fotos enmarcadas">
                        <mat-error *ngIf="isValidField('no_Fotos_Enm')">
                          {{ getErrorMessage("no_Fotos_Enm") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <mat-label>Marco</mat-label>
                        <mat-select [(value)]="selectedMarco" required>
                          <mat-option [value]="marco.nombre" *ngFor="let marco of marcos">
                            {{marco.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <mat-label>Tamaño</mat-label>
                        <mat-select [(value)]="selectedTamano" required>
                          <mat-option [value]="tamano.nombre" *ngFor="let tamano of tamanos">
                            {{tamano.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <mat-label>Tipo paquete</mat-label>
                        <mat-select [(value)]="selectedTipoPaquete" required>
                          <mat-option [value]="tipo_paqute.nombre" *ngFor="let tipo_paqute of tipo_paqutes">
                            {{tipo_paqute.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group focused">
                      <input class="mb-3" type="file" (change)="onFileSelected($event)">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button [disabled]="editarPaqueteForm.invalid" mat-raised-button type="submit" color="primary">Editar
                    Paquete</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-2 m-auto order-xl-1">
        <h2>Imagen actual</h2>
        <ng-container *ngIf="url == null; else viewImage">
          <img [src]="imageSrc" alt="Imagen no encontrada" />
        </ng-container>
        <ng-template #viewImage>
          <img [src]="url" alt="">
        </ng-template>
      </div>
    </div>
  </div>
</div>