<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" placeholder="Title" class="form-control" ([ngModel]) = "paquete.title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" placeholder="Descripcion" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="image" placeholder="Image" class="form-control">
                </div>
                <button class="btn btn-success btn-block" (click) = "savePaquete()">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
