<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<div class="main-content mt-4">
  <div class="container">
    <!-- Table -->
    <div class="row">
      <div class="col-xl-8 m-auto order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Perfil</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="editarInformacionForm" (ngSubmit)="editarInformacion()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="nombre" type="text"
                          placeholder="Nombre del empleado">
                        <mat-error *ngIf="isValidField('nombre')">
                          {{ getErrorMessage("nombre") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="ape_pat" type="text"
                          placeholder="Apellido Paterno">
                        <mat-error *ngIf="isValidField('ape_pat')">
                          {{ getErrorMessage("ape_pat") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="ape_mat" type="text"
                          placeholder="Apellido Materno">
                        <mat-error *ngIf="isValidField('ape_mat')">
                          {{ getErrorMessage("ape_mat") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="correo" type="email" placeholder="correo">
                        <mat-error *ngIf="isValidField('correo')">
                          {{ getErrorMessage("correo") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <input matInput class="form-control" formControlName="celular" type="tel" placeholder="celular">
                        <mat-error *ngIf="isValidField('celular')">
                          {{ getErrorMessage("celular") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group focused">
                      <mat-form-field class="full-width-input">
                        <textarea matInput class="form-control" formControlName="direccion" placeholder="direccion"
                          rows="5"></textarea>
                        <mat-error *ngIf="isValidField('direccion')">
                          {{ getErrorMessage("direccion") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <input class="mb-3" multiple="" id="img" class="hiden" style="display:none;"
                                                accept="image/*" type="file" (change)="onImageSelected($event)">
                                            <label for="img" class="btn btn-outline-primary" *ngIf="!botonEditarDisabled">
                                                <mat-icon style="font-size: 20px !important;">add</mat-icon>Seleccionar
                                                imagenes
                                            </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center" *ngIf="botonEditarDisabled">
                    <button mat-raised-button type="button" (click)="changeEnable()"
                      color="primary">Editar empleado
                    </button>
                  </div>
                  <div class="col-lg-12 text-center" *ngIf="!botonEditarDisabled">
                    <button mat-raised-button type="submit" color="primary">Guardar cambios
                    </button>
                  </div>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>



      <div class="order-xl-1 col-xl-4">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-12 header">
                <h3 class="mb-0"> Imagenes seleccionadas </h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ng-container *ngIf="urlImage == null; else viewImage">
                  <img class="img-form" [src]="imageSrc" alt="Imagen no encontrada" />
                </ng-container>
                <ng-template #viewImage>
                  <img class="img-form" [src]="urlImage" alt="">
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>