<div class="main-content">
    <div class="container mt-4">
        <div class="row">
            <div class="order-xl-1 mb-3" *ngIf="imagesHtml.length != 0" [class.col-xl-6]="imagesHtml.length > 30" [class.col-xl-4]="imagesHtml.length <= 30">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-12 header">
                                <h3 class="mb-0"> Imagenes seleccionadas </h3>
                                <a class="float-right" href="javascript:void(0)" style="cursor:pointer" (click)="downloadRar()">
                                    <mat-icon class="align-middle">file_download</mat-icon><p class="align-middle d-inline">Descargar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <img class="img-form" *ngFor='let url of imagesHtml; let i = index' [src]="url"
                                    style="margin: 3px;">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="order-xl-1 col-xl-5" >
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-12 header">
                                <h3 *ngIf="servicio != null" class="mb-0">{{ servicio.paquete_nombre }}</h3>
                                <div class="container-status">
                                    <button *ngIf="servicio != null && servicio.estatus_id == 5" type="button"
                                        class="btn btn-primary" (click)="finalizarServicio()">Finalizar
                                        servicio</button>
                                    <h3 *ngIf="servicio != null">{{ servicio.estatus_nombre }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>calendar_today</mat-icon> Fecha del evento :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.fecha_evento }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>place</mat-icon> Direccion :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.direccion }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>face</mat-icon> Nombre del cliente :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.nombre_cliente }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>image</mat-icon> Numero de fotos digitales :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.no_Fotos_Dig }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>image</mat-icon> Numero de fotos enmarcadas :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.no_Fotos_Enm }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>image</mat-icon> Numero de fotos fisicas :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.no_Fotos_Fis }}
                            </div>
                        </div>
                        <hr>
                        <div class="row" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>credit_card</mat-icon> El total es :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 order-xl-1" *ngIf="videosHtml.length != 0">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-12 header">
                                <h3 class="mb-0"> Videos seleccionados </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <video *ngFor='let url of videosHtml;' width="200" height="200" controls>
                                    <source [src]="url" type="video/mp4">
                                </video>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>




</div>