<div class="main-content">
    <div class="container mt-4">
        <div class="row">
            <div class="m-auto order-xl-1 col-xl-7">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-12 header">
                                <h3 *ngIf="servicio != null" class="mb-0">{{ servicio.paquete_nombre }}</h3>
                                <div class="container-status float-right">
                                    <button *ngIf="servicio != null && servicio.estatus_id == 5" type="button"
                                        class="btn btn-primary btn-sm" (click)="finalizarServicio()">Finalizar
                                        servicio</button>
                                    <h3 *ngIf="servicio != null">{{ servicio.estatus_nombre }}</h3>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="card-body">
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>calendar_today</mat-icon> Fecha de la sesión :

                            </div>
                            <div class="col-lg-6 text-right">
                                {{servicio.fecha_sesion }}
                            </div>
                        </div>

                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>face</mat-icon> Nombre del cliente :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{servicio.nombre_cliente }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>image</mat-icon> Total de fotos digitales :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.no_Fotos_Dig }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>image</mat-icon> Total de fotos enmarcada
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.no_Fotos_Enm }}
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>image</mat-icon> Total de fotos fisicas :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.no_Fotos_Fis }}
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3" *ngIf="servicio != null">
                            <div class="col-lg-6">
                                <mat-icon>credit_card</mat-icon> El total es :
                            </div>
                            <div class="col-lg-6 text-right">
                                {{ servicio.total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>