<div class="change-form">
    <mat-card>
        <mat-card-content>
            <h1>Cambiar contraseña</h1>
            <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
                <mat-form-field class="full-width-input ">
                    <input
                    matInput
                    formControlName="contrasena"
                    [type] = "hidePassword ? 'password' : 'text'"
                    placeholder="Contraseña actual">
                    <button mat-icon-button matSuffix (click) = "hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('contrasena')">
                        {{ getErrorMessage("contrasena") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input mt-4">
                    <input
                    matInput
                    formControlName="nuevaContrasena"
                    [type] = "hideNewPassword ? 'password' : 'text'"
                    placeholder="Nueva contraseña">
                    <button mat-icon-button matSuffix (click) = "hideNewPassword = !hideNewPassword">
                        <mat-icon>{{ hideNewPassword ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('nuevaContrasena')">
                        {{ getErrorMessage("nuevaContrasena") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input mt-4">
                    <input
                    matInput
                    formControlName="confirmarContrasena"
                    [type] = "hideConfirmPassword ? 'password' : 'text'"
                    placeholder="Confirmar nueva contraseña">
                    <button mat-icon-button matSuffix (click) = "hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('confirmarContrasena')">
                        {{ getErrorMessage("confirmarContrasena") }}
                    </mat-error>
                    <mat-error *ngIf="!isEqualsPasswords('nuevaContrasena', 'confirmarContrasena')">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>
                <button
                class="mt-4"
                [disabled] ="
                changeForm.invalid                                            ||
                !isEqualsPasswords('nuevaContrasena', 'confirmarContrasena')  ||
                isEqualsPasswords('nuevaContrasena', 'contrasena')           ||
                isEqualsPasswords('confirmarContrasena', 'contrasena')"
                mat-raised-button
                type="submit"
                color="primary">Cambiar contraseña</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
