<div class="main-content">
    <div class="container">
        <div *ngFor="let servicioEvento of servicioEventos" class="card mt-3" routerLink="/detalleservicio/{{servicioEvento.id}}">
            
            <div class="card-header" [ngStyle]="{backgroundColor: servicioEvento.estatus_nombre === 'En espera de interaccion del fotografo' ? 'red' : servicioEvento.estatus_nombre === 'En espera del evento' ? 'blue' : 'green'}" >
                <h2>{{ servicioEvento.nombre_cliente }}</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ servicioEvento.paquete_nombre }}</h3>
                <h3 class="card-text" > {{ servicioEvento.estatus_nombre }} </h3>
            </div>
        </div>
    </div>
</div>