<div class="recover-form">
    <mat-card>
        <mat-card-content>
            <h1>Recuperar contraseña</h1>
            <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    formControlName="newPassword"
                    [type] = "hidePassword ? 'password' : 'text'"
                    placeholder="Contraseña">
                    <button type="button" mat-icon-button matSuffix (click) = "hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('newPassword')">
                        {{ getErrorMessage("newPassword") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    formControlName="confirmPassword"
                    [type] = "hideConfirm ? 'password' : 'text'"
                    placeholder="Contraseña">
                    <button type="button" mat-icon-button matSuffix (click) = "hideConfirm = !hideConfirm">
                        <mat-icon>{{ hideConfirm ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('confirmPassword')">
                        {{ getErrorMessage("confirmPassword") }}
                    </mat-error>
                </mat-form-field>
                <button 
                mat-raised-button 
                type="submit" 
                color="primary" class="mt-4">Recuperar contraseña</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>