<!--<div class="container">
    <form class="form">
        <h1 class="login">Iniciar sesión</h1>
        <img class="img-login" src="assets/img/avatar-inicio-sesion.png">
        <div class="mb-3">
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher" [(ngModel)]="empleado.email">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Contraseña" [formControl]="passwordFormControl"
                    [errorStateMatcher]="matcherPassword" [(ngModel)]="empleado.password">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="passwordFormControl.hasError('min(8)') && !emailFormControl.hasError('required')">
                    Please enter a valid password
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>   
        </div>
        <div class="mb-3 form-check">
            <a class="nav-link" aria-current="page" routerLink="/forgotpassword">¿Olvidaste la contraseña?</a>
        </div>
        <div class="submit-button">
            <button class="btn btn-primary btn-block" (click) = "doLogin()">Inciar sesión</button>
        </div>
    </form>
</div>-->

<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1>Iniciar sesión</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="correo"
                    type="email" 
                    placeholder="Correo electronico">
                    <mat-error *ngIf="isValidField('correo')">
                        {{ getErrorMessage("correo") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    formControlName="contrasena"
                    [type] = "hide ? 'password' : 'text'"
                    placeholder="Contraseña">
                    <button mat-icon-button matSuffix (click) = "hide = !hide">
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('contrasena')">
                        {{ getErrorMessage("contrasena") }}
                    </mat-error>
                </mat-form-field>
                <div class="mb-2 form-check">
                    <a class="nav-link" aria-current="page" routerLink="/forgotpassword">¿Olvidaste la contraseña?</a>
                </div>
                <button 
                [disabled] ="loginForm.invalid"
                mat-raised-button 
                type="submit" 
                color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>