<div class="edit-form">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="editarMarcoForm" (ngSubmit)="editarMarco()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="nombre"
                    type="text" 
                    placeholder="Nombre del marco">
                    <mat-error *ngIf="isValidField('nombre')">
                        {{ getErrorMessage("nombre") }}
                    </mat-error>
                </mat-form-field>
            
                <button 
                class="mt-4"
                [disabled] ="editarMarcoForm.invalid"
                mat-raised-button 
                type="submit" 
                color="primary">Editar marco</button>

            </form>

        </mat-card-content>
    </mat-card>
</div>
