<div class="forgot-form">
    <mat-card>
        <mat-card-content>
            <h1>Recuperar contraseña</h1>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <mat-form-field class="full-width-input">
                    <input 
                    matInput 
                    class="form-control"
                    formControlName="correo"
                    type="email" 
                    placeholder="Correo electronico">
                    <mat-error *ngIf="isValidField('correo')">
                        {{ getErrorMessage("correo") }}
                    </mat-error>
                </mat-form-field>
                <button 
                mat-raised-button 
                type="submit" 
                color="primary" class="mt-4">Recuperar contraseña</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>